@model SWP.Models.Product

<form asp-action="NewProduct" method="post" enctype="multipart/form-data">
    <div class="container mt-3">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tạo mới sản phẩm</h5>
                        <h5 style="color: red;">@ViewData["ErrorMessage"]</h5>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="ProductName" class="form-label "> Tên sản phẩm <span class="required-star">*</span></label>
                                    <input asp-for="ProductName" class="form-control" required pattern="^(?!\s*$).+" title="Tên sản phẩm không được chỉ chứa dấu cách" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="BrandId" class="form-label">Nhãn hiệu<span class="required-star">*</span></label>
                                    <select asp-for="BrandId" class="form-control">
                                        @foreach (var brand in ViewBag.Brand)
                                        {
                                            <option value="@brand.BrandId">@brand.BrandName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                
                               @* <div class="mb-3">
                                    <label asp-for="IsSale" class="form-label">Khuyến mại</label>
                                    <input asp-for="IsSale" class=" form-control" />
                                    <span asp-validation-for="IsSale" class="text-danger"></span>
                                </div>*@
                                <div class="mb-3">
                                    <label asp-for="Status" class="form-label">Trạng thái</label>
                                    <select asp-for="Status" class="form-control">
                                        <option value="1" >Hoạt động</option>
                                        @*                                        <option value="2">Hết hàng</option>
                                        *@
                                        <option value="0" selected>Chưa kinh doanh</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Price" class="form-label">Giá <span class="required-star">*</span></label>
                                    <input name="Price" id="priceInput" class="form-control" type="text" pattern="[0-9]+(,[0-9]{1,2})?" title="Nhập số thập phân tối đa 2 chữ số sau dấu , có dạng như 10,55" oninput="this.value = this.value.replace(/[^\d,]/g, '')" required />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                               @* <div class="mb-3">
                                    <label name="SizeId" class="form-label">Kích thước</label>
                                    <select name="SizeId" class="form-control">
                                        <option value="">-- Chọn kích thước --</option> <!-- Tùy chọn mặc định không chọn kích thước -->
                                        @foreach (var size in ViewBag.Size)
                                        {
                                            <option value="@size.SizeId">@size.SizeName</option>
                                        }
                                    </select>
                                    <span name="SizeId" class="text-danger"></span>
                                </div>*@
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Mô tả chung</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="CategoryId" class="form-label">Danh mục<span class="required-star">*</span></label>
                                    <select asp-for="CategoryId" class="form-control">
                                        @foreach (var category in ViewBag.Category)
                                        {
                                            <option value="@category.CategoryId">@category.CategoryName</option>
                                        }
                                    </select>                                    
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       @* <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label  name="ColorId" class="form-label">Màu sắc</label>
                                    <select name="ColorId" class="form-control">
                                        <option value="">-- Chọn màu sắc --</option> <!-- Tùy chọn mặc định không chọn màu sắc -->
                                        @foreach (var color in ViewBag.Color)
                                        {
                                            <option value="@color.ColorId">@color.ColorName</option>
                                        }
                                    </select>
                                    <span name="ColorId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label name="Feature" class="form-label">Mô tả tính năng</label>
                                    <textarea name="Feature" class="form-control"></textarea>
                                </div>
                              
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label name="Attributes" class="form-label">Mô tả đặc điểm</label>
                                    <textarea name="Attributes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-6">
                                
                            </div>
                            <div class="col-6">
                               @* <div class="mb-3">
                                    <label name="Attributes" class="form-label">Mô tả đặc điểm</label>
                                    <textarea name="Attributes" class="form-control"></textarea>
                                </div>*@
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label name="Feature" class="form-label">Mô tả tính năng</label>
                                    <textarea name="Feature" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label name="Attributes" class="form-label">Mô tả đặc điểm</label>
                                    <textarea name="Attributes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label name="imageFiles" class="form-label">Ảnh sản phẩm <span class="required-star">*</span></label>
                            <input name="imageFiles" type="file" class="form-control" multiple required accept="image/*" onchange="validateFileType(this)" />
                            <span name="imageFiles" class="text-danger"></span>
                        </div>
                        <div class="mb-3 text-end">
                            <button type="submit" class=" btn btn-primary">Tạo mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</form>
<script>
    function validateFileType(input) {
        const validImageTypes = ["image/jpeg", "image/png"];
        const files = input.files;

        for (let i = 0; i < files.length; i++) {
            const fileType = files[i].type;

            if (!validImageTypes.includes(fileType)) {
                alert("Chỉ chấp nhận file hình ảnh (JPEG, PNG).");
                input.value = ""; 
                return;
            }
        }
    }
</script>
<style>
    .required-star {
        color: red;
    }
</style>
