@model SWP.Models.Product

<form asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <div class="container mt-3">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body" style="max-height: 550px; overflow-y: auto;">
                        <h5 class="card-title">Cập nhật sản phẩm</h5>
                        <h5 style="color: red;">@ViewData["ErrorMessage"]</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="ProductName" class="form-label"> Tên sản phẩm<span class="required-star">*</span></label>
                                    <input asp-for="ProductName" class="form-control" value="@ViewBag.Product.ProductName" required pattern="^(?!\s*$).+" title="Tên sản phẩm không được chỉ chứa dấu cách" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="BrandId" class="form-label">Nhãn hiệu<span class="required-star">*</span></label>
                                    <select asp-for="BrandId" class="form-control">
                                        @foreach (var brand in ViewBag.Brands)
                                        {
                                            <option value="@brand.BrandId" selected="@(brand.BrandId == ViewBag.Product.BrandId)">@brand.BrandName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Price" class="form-label">Giá<span class="required-star">*</span></label>
                                    <input name="Price" class="form-control" type="text" value="@string.Format("{0:N2}", ViewBag.Product.Price)" pattern="[0-9]+(,[0-9]{1,2})?" title="Nhập số thập phân tối đa 2 chữ số sau dấu , có dạng như 10,55" oninput="this.value = this.value.replace(/[^\d,]/g, '')" required />

                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="CategoryId" class="form-label">Danh mục<span class="required-star">*</span></label>
                                    <select asp-for="CategoryId" class="form-control">
                                        @foreach (var category in ViewBag.Categories)
                                        {
                                            <option value="@category.CategoryId" selected="@(category.CategoryId == ViewBag.Product.CategoryId)">@category.CategoryName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Mô tả chung</label>
@*                                    <textarea asp-for="Description" class="form-control" id="descriptionTextArea">@ViewBag.Product.Description</textarea>
*@
                                    <input asp-for="Description" class="form-control" id="descriptionTextArea" value=@ViewBag.Product.Description></input>

                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Status" class="form-label">Trạng thái</label>
                                    <select asp-for="Status" class="form-control">
                                        <option value="1" selected="@(ViewBag.Product.Status == 1)">Hoạt động</option>
                                        <option value="0" selected="@(ViewBag.Product.Status == 0)">Ngừng kinh doanh</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Feature" class="form-label">Mô tả tính năng</label>
                                    <input asp-for="Feature" class="form-control scrollable-input" value=@ViewBag.Product.Feature></input>
                                    <span asp-validation-for="Feature" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Attributes" class="form-label">Mô tả đặc điểm</label>
                                    <input asp-for="Attributes" class="form-control scrollable-input" value=@ViewBag.Product.Attributes></input>
                                    <span asp-validation-for="Attributes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                       <div class="mb-3">
                           <div class="mb-3">
                                <label class="form-label">Sửa ảnh sản phẩm</label>
                                <input name="imageFiles" type="file" class="form-control mt-3 image-file-input" accept="image/*" onchange="validateFileType(this)" multiple />
                                </div>
                        <label class="form-label">Ảnh sản phẩm hiện có <span class="required-star">*</span></label>
                        <div class="row">
                            @if (ViewBag.Product.ProductImages != null)
                            {
                                foreach (var image in ViewBag.Product.ProductImages)
                                {
                                    <div class="col-3">
                                        <img src="/Images/@image.Path" alt="Image" class="img-thumbnail product-image" style="max-width: 100px; max-height: 100px;" data-image-path="@image.Path" />
                                        <input type="text" class="form-control" value="@image.Path" readonly style="display: none;" />
                                        <span name="imageFiles" class="text-danger"></span>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                          @*   <div class="mb-3 text-end">
                                <button type="button" class="ms-2 btn btn-primary" onclick="editImage(this)">Sửa ảnh</button>
                                <input name="imageFiles" type="file" class="form-control mt-3 image-file-input" style="display: none;" accept="image/*" onchange="validateFileType(this)" multiple />

                            </div>*@
                            <script>
                                function showFileInput(button) {
                                    var fileInput = button.nextElementSibling;
                                    if (fileInput.style.display === 'none') {
                                        fileInput.style.display = 'block';
                                    } else {
                                        fileInput.style.display = 'none';
                                    }
                                }
                            </script>
                            <input asp-for="ProductId" value="@ViewBag.Product.ProductId" type="hidden" class="form-control" />
                         
                        </div>
                        
                    </div>
                  
                </div>
                <div class="mb-3 text-end mt-4 me-3">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function validateFileType(input) {
        const validImageTypes = ["image/jpeg", "image/png", "image/gif"];
        const files = input.files;

        for (let i = 0; files && i < files.length; i++) {
            const fileType = files[i].type;

            if (!validImageTypes.includes(fileType)) {
                alert("Chỉ chấp nhận file hình ảnh (JPEG, PNG, GIF).");
                input.value = "";
                return;
            }
        }
    }
</script>
<script>
    function editImage(button) {
        var parentDiv = button.closest('.row');
        var image = parentDiv.querySelector('.product-image');
        var fileInput = parentDiv.querySelector('.image-file-input');

        // Show the file input and hide the image
        fileInput.style.display = 'block';
    }
    var descriptionValue = document.getElementById('descriptionTextArea').value;
    console.log("descriptionTextArea: ", descriptionValue);
</script>

<style>
    .required-star {
        color: red;
    }

    .scrollable-input {
        overflow-y: auto;
        min-height: 70px;
    }
</style>
