@model SWP.Models.Product

<form asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <div class="container mt-3">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cập nhật sản phẩm</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="ProductName" class="form-label"> Tên sản phẩm</label>
                                    <input asp-for="ProductName" class="form-control" value="@ViewBag.Product.ProductName" required />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="BrandId" class="form-label">Nhãn hiệu</label>
                                  <select asp-for="BrandId" class="form-control">
                                        @foreach (var brand in ViewBag.Brands)
                                        {
                                            <option value="@brand.BrandId" selected="@(brand.BrandId == ViewBag.Product.BrandId)">@brand.BrandName</option>
                                        }
                                    </select>


                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Mô tả</label>
                                    <input asp-for="Description" class="form-control" required value=@ViewBag.Product.Description></input>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Price" class="form-label">Giá</label>
                                    <input asp-for="Price" class="form-control" type="text"  value="@ViewBag.Product.Price" required />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="Quantity" class="form-label">Số lượng</label>
                                    <input asp-for="Quantity" class="form-control" type="number" value="@ViewBag.Product.Quantity" min="0" required />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="CategoryId" class="form-label">Danh mục</label>
                                    <select asp-for="CategoryId" class="form-control">
                                        @foreach (var category in ViewBag.Categories)
                                        {
                                            <option value="@category.CategoryId" selected="@(category.CategoryId == ViewBag.Product.CategoryId)">@category.CategoryName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label asp-for="IsSale" class="form-label">Khuyến mại</label>
                                    <input asp-for="IsSale" class=" form-control"/>
                                    <span asp-validation-for="IsSale" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                               <div class="mb-3">
                                <label asp-for="Status" class="form-label">Trạng thái</label>
                                <select asp-for="Status" class="form-control">
                                        <option value="1" selected="@(ViewBag.Product.Status == 1)">Hoạt động</option>
                                        <option value="2" selected="@(ViewBag.Product.Status == 2)">Hết hàng</option>
                                        <option value="0" selected="@(ViewBag.Product.Status == 0)">Ngừng hoạt động</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>


                            </div>
                        </div>
                       <div class="mb-3">
                            <div class="mb-3">
                                @if (ViewBag.Product.ProductImages != null)
                                {
                                    foreach (var image in ViewBag.Product.ProductImages)
                                    {
                                        <div class="row">
                                            <div class="col-3">

                                            </div>
                                            <div class="col-9">

                                            </div>

                                        </div>
                                        <label class="form-label">Ảnh sản phẩm</label>

                                        <!-- Display the image -->
                                        <img src="/Images/@image.Path" alt="Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />

                                        <!-- Hidden input to store the path (for display purposes) -->
                                        <input type="text" class="form-control" value="@image.Path" readonly style="display: none;" />

                                        <!-- Button to trigger file input -->
                                        <button type="button" class=" ms-2 btn btn-primary" onclick="showFileInput(this)">Sửa ảnh</button>

                                        <!-- Input file (initially hidden) -->
                                        <input name="imageFiles" type="file" class="form-control mt-3" style="display: none;" />

                                        <span name="imageFiles" class="text-danger"></span>
                                    }
                                }
                            </div>

                            <script>
                                function showFileInput(button) {
                                    // Get the sibling file input
                                    var fileInput = button.nextElementSibling;

                                    // Show/hide the file input
                                    if (fileInput.style.display === 'none') {
                                        fileInput.style.display = 'block';
                                    } else {
                                        fileInput.style.display = 'none';
                                    }
                                }
                            </script>



                            <input asp-for="ProductId" value="@ViewBag.Product.ProductId" type="hidden" class="form-control" />


                        <div class="mb-3 text-end">
                            <button type="submit" class=" btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
</form>
