@inject IHttpContextAccessor HttpContextAccessor;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP.Models
<!DOCTYPE html>

<html lang="en">
   
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boxing Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 
    <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
	
</style>



    
</head>
<body>
    @{
        string user = HttpContextAccessor.HttpContext.Session.GetString("USER_EMAIL") ?? "";
        string userName = HttpContextAccessor.HttpContext.Session.GetString("USER_NAME") ?? "";
        int role = HttpContextAccessor.HttpContext.Session.GetInt32("USER_ROLE") ?? 0;
        string url = "";
    }


    
    @if (role == 1)
    {
        <section id="sidebar">
            <a href="/dashboard" class="brand">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Boxing Shop</span>
            </a>
            <ul class="side-menu top">

                <li>
                    <a href="/dashboard">
                        <i class='bx bxs-cog'></i>
                        <span class="text">Tổng quan</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Manage">
                        <i class='bx bxs-book-open'></i>
                        <span class="text">Blog</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Users" asp-action="Index">
                        <i class='bx bxs-group'></i>
                        <span class="text">Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Feedback" asp-action="Index">
                        <i class='bx bxs-message-rounded'></i> <!-- Thay đổi class để chọn icon phù hợp -->
                        <span class="text">Phản hồi</span>
                    </a>
                </li>

                <li>
                    <a href="/products/list">
                        <i class='bx bxs-package'></i>
                        <span class="text">Sản phẩm</span>
                    </a>
                    <ul>
                        <!-- Thêm thẻ ul để tạo danh sách con -->
                        <li>
                            <a asp-controller="Category" asp-action="Index">
                                <i class='bx bxs-store'></i>
                                <span class="text">Danh mục</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Color" asp-action="Index">
                                <i class='bx bxs-palette'></i>
                                <span class="text">Màu sắc</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Size" asp-action="Index">
                                <i class='bx bxs-ruler'></i>
                                <span class="text">Kích thước</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Brand" asp-action="Index">
                                <i class='bx bxs-shopping-bag-alt'></i>
                                <span class="text">Thương hiệu</span>
                            </a>

                        </li>
                    </ul>
                </li>


            </ul>
        </section>
        <section id="content">
            <nav>
                <i class='bx bx-menu'></i>

                <div class="dropdown">
                    <a href="#" class="profile">
                        <img src="img/people.png">
                    </a>
                    <div class="dropdown-content">
                        <a href="#" class="profile">
                            <i class='bx bxs-user-circle'></i>
                            <span class="text">Tài khoản</span>
                        </a>
                        <a href="#" class="logout">
                            <i class='bx bxs-log-out-circle'></i>
                            <span class="text">Đăng xuất</span>
                        </a>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </section>
    }
    else
    {
     <div class="custom-header">
         <div class="custom-navbar">
        <div class="custom-logo">

        </div>
        <div class="custom-nav">
        <ul id="MenuItems">
       
        <li><a href="@Url.Action("Index", "Home")" class="custom-navbar-link">Trang chủ</a></li>
        <li><a href="@Url.Action("ListProduct", "Home")" class="custom-navbar-link">Sản phẩm</a></li>
        <li><a href="@Url.Action("ListBlog", "Home")" class="custom-navbar-link">Blog</a></li>
        
        </ul>
        </div>

        @if (role == 1)
        {

        }
        else
        {
        <a asp-controller="Cart" asp-action="GetCartItem" class="custom-navbar-link"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" /></a>
        }

        <div class="custom-navbar-nav ml-auto pr-100" style="margin-left: 10px">
        @if (role != 0)
        {
        <a asp-controller="ProfileUsers" asp-action="Index" class="custom-navbar-link">@userName</a>
        <a asp-controller="Auth" asp-action="Logout" class="custom-navbar-link">Đăng xuất</a>
        }
        else
        {
        <a href="/auth" class="custom-navbar-link">Đăng nhập</a>
        }
        </div>
        </div>

    </div>
     <div class="container">

    <main role="main" class="pb-3">
                @RenderBody()

        </main>
    </div>
    }


  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            // Xác định URL hiện tại và chuyển đổi sang chữ thường
            var currentUrl = window.location.href.toLowerCase();

            // Lưu địa chỉ URL vào biến url và chuyển đổi sang chữ thường
            var url = currentUrl.toLowerCase();
            console.log("url", url)
            // Lặp qua các phần tử menu và thêm lớp active vào thẻ li nếu URL bắt đầu bằng đường dẫn tương ứng
            $(".side-menu li").each(function () {
                var menuItemUrl = $(this).find("a").attr("href").toLowerCase();
                console.log("menuItemUrl", menuItemUrl)
                console.log("url.includes(menuItemUrl)", url.includes(menuItemUrl))
                if (url.includes(menuItemUrl)) {
                    $(this).addClass("active");
                }
            });
        });
    </script>





</body>


</html>