@model IEnumerable<SWP.Models.Blog>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    /* Thêm padding cho body để tạo khoảng cách với viền màn hình */
   

    /* Style cho nội dung bên trong */
    .container {
        max-width: 1200px; /* Giới hạn chiều rộng của nội dung */
        margin: 0 auto; /* Canh giữa nội dung */
        padding-left: 15px; /* Thêm padding bên trái */
        padding-right: 15px; /* Thêm padding bên phải */
    }

    /* Căn giữa nội dung */
    .center-text {
        text-align: center;
    }

    /* Đổi con trỏ chuột khi di chuyển qua các hàng của bảng */
    .table-hover-pointer tbody tr:hover {
        cursor: pointer;
    }

    /* Khoảng cách giữa các button */
    .btn-space {
        margin-right: 5px;
    }

    /* Style cho form input */
    .input-group {
        margin-bottom: 20px;
    }

    /* Style cho button Tìm kiếm */
    .btn-primary {
        border-radius: 20px; /* Bo góc */
    }

    /* Style cho table */
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #f2f2f2; /* Màu nền */
            font-weight: bold;
            color: #333; /* Màu chữ */
            border-bottom: 2px solid #ddd; /* Đường viền dưới */
        }

        .table td {
            border-bottom: 1px solid #ddd; /* Đường viền dưới */
        }

    /* Style cho pagination */
    .pagination {
        margin: 0;
    }

        .pagination li {
            display: inline-block;
            margin-right: 5px;
        }

            .pagination li a {
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
                color: #333;
            }

            .pagination li.active a {
                background-color: #007bff;
                color: #fff;
                border-color: #007bff;
            }

            .pagination li.disabled a {
                color: #666;
                pointer-events: none;
            }

    /* Style cho thông báo lỗi */
    .alert-danger {
        margin-bottom: 20px;
    }

    /* Style cho sidebar */
    .col-lg-3 {
        background-color: #f8f9fa; /* Màu nền */
        padding: 15px;
        border-radius: 5px;
    }

    font-size: 24px; /* Kích thước font */
    font-weight: bold; /* Độ đậm của font */
    color: #333; /* Màu chữ */

</style>
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<h2 class=" mb-4">Danh sách Blog</h2>
<header class="d-sm-flex align-items-center border-bottom mb-4 pb-3 mt-3">
    <div class="ms-auto">
        <div class="btn-group shadow-0 ">
            <a asp-controller="Blog" asp-action="Create" class="btn btn-success shadow-0 me-1">Tạo Blog mới</a>
        </div>
    </div>
</header>

<!-- Search form -->
<form method="post" asp-controller="Blog" asp-action="Manage" class="mb-4">
    <div class="input-group">
        <form class="form-inline">
            <label class="form-check-inline">Trạng thái</label>
            <div class="form-group mr-3">
                <select id="status" name="status" class="form-select">
                    <option value="">Tất cả</option>
                    <option value="1" selected="@(ViewBag.Status == 1)">Công khai</option>
                    <option value="0" selected="@(ViewBag.Status == 0)">Riêng tư</option>
                </select>
            </div>
            <div class="form-group flex-grow-1">
                <input type="text" name="search" class="form-control" placeholder="tìm kiếm " value="@ViewBag.strSearch">
            </div>
            <button type="submit" class="btn btn-primary ml-2">Tìm kiếm</button>
        </form>
    </div>
</form>

<div class="row">


    @if (Model != null)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Stt</th>
                        <th>Tiêu đề</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int startIndex = (int)ViewData["startIndex"];
                    }

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@startIndex</td>
                            <td>@item.Title</td>
                            <td>@item.CreateDate</td>
                            @if (item.Status == 1)
                            {
                                <td>Công khai</td>
                            }
                            @if (item.Status != 1)
                            {
                                <td> Riêng tư </td>
                            }
                            <td>
                                <a asp-controller="Blog" asp-action="Update" asp-route-blogId="@item.BlogId" class="btn btn-warning shadow-0 me-1">Chỉnh sửa</a>

                                <a asp-controller="Blog" asp-action="Delete" asp-route-blogId="@item.BlogId" class="btn btn-danger shadow-0 me-1" onclick="return confirmDelete()">Xóa</a>
                            </td>
                        </tr>
                        startIndex++;
                    }
                </tbody>

            </table>
        </div>
    }



    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
        <ul class="pagination">
            @if (ViewBag.currentPage != 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Blog" asp-action="Manage" asp-route-currentPage="@(ViewBag.currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= ViewBag.NumberOfPages; i++)
            {
                <li class="page-item "><a class="page-link" asp-controller="Blog" asp-action="Manage" asp-route-currentPage="@i">@i</a></li>
            }
            @if (ViewBag.currentPage < ViewBag.NumberOfPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Blog" asp-action="Manage" asp-route-currentPage="@(ViewBag.currentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <!-- Pagination -->
</div>



<div class="ms-auto">
    <div class="btn-group shadow-0 border">
        <a asp-controller="Blog" asp-action="Index" class="btn btn-primary shadow-0 me-1">Danh sách Blog</a>
    </div>
</div>
<script>

    function confirmDelete() {
        if (confirm("Bạn có thực sự muốn xóa Blog?")) {
            // Thực hiện hành động xóa ở đây
            return true;
        } else {
            return false;
        }
    }
</script>
