@model CartItem
@{
    var listItem = ViewData["listItem"] as List<CartItem>;
    decimal  sum = 0;
    
}
<div class="card">
    <div class="row">
            <div class="col-md-8 cart">
            <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Giỏ hàng của tôi</b></h4></div>
                        <div class="col align-self-center text-right text-muted"></div>
                    </div>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                    <div>
                        @ViewData["message"]
                    </div>
                </div>
            </div>
                 
            <form id="myform" method="post" asp-controller="CheckOut" asp-action="Index">
                    @foreach (var item in listItem)
                    {

                        sum += (decimal)item.Detail.Product.Price * item.Quantity;
                        var temp = item.Detail.Product.Price * item.Quantity;

                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-1">
                                <input type="checkbox" data-value="@temp" id="checkbox_@item.Detail.DetailId" class="selectedItems" name="selectedItems" value="@item.Detail.DetailId" />
                                </div>
                                <div class="col-2"><img class="img-fluid" src="/Images/@item.Detail.Product.ProductImages.First().Path"></div>
                                <div class="col">
                                    <div class="row">@item.Detail.Product.ProductName</div>
                                    <div class="row text-muted">@item.Detail.Product.Category.CategoryName</div>
                                    <div class="row text-muted">@item.Detail.Color.ColorName , @item.Detail.Size.SizeName</div>
                                </div>
                                <div class="col">

                                    <a asp-action="UpdateCartItem" asp-route-productId="@item.Detail.DetailId" asp-route-type="0">-</a>

                                    <a href="#" class="border">@item.Quantity</a>

                                    <a asp-action="UpdateCartItem" asp-route-productId="@item.Detail.DetailId" asp-route-type="1">+</a>

                                </div>
                                <div class="col">@string.Format("{0:N0}", @item.Detail.Product.Price) vnđ <a asp-action="UpdateCartItem" asp-route-productId="@item.Detail.DetailId" asp-route-type="2" class="close">&#10005;</a></div>
                            </div>
                        </div>
                    }

                </form>

                <div class="back-to-shop"><a asp-controller="Home" asp-action="Index">&leftarrow;</a><span class="text-muted">Trở về trang chủ</span></div>
            </div>
            <div class="col-md-4 summary">

                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;  margin-top:auto;">
                    <div class="col">Tổng tiền</div>
                    <div class="col text-right"><b id="total_price"></b> vnđ</div>
                </div>
            <input class="btn" form="myform" type="submit" value="Thanh toán"/>
            </div>
    </div>

</div>
<style>
    body {
        background: #ddd;
        min-height: 100vh;
        vertical-align: middle;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .title {
        margin-bottom: 5vh;
    }

    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
    }

    .card {
        margin: auto;
    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65);
    }

    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }

        .summary .col-2 {
            padding: 0;
        }

        .summary .col-10 {
            padding: 0;
        }

    .row {
        margin: 0;
    }

    .title b {
        font-size: 1.5rem;
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%;
    }

    .col-2, .col {
        padding: 0 1vh;
    }

    a {
        padding: 0 1vh;
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem;
    }

    img {
        width: 3.5rem;
    }

    .back-to-shop {
        margin-top: 4.5rem;
    }

    h5 {
        margin-top: 4vh;
    }

    hr {
        margin-top: 1.25rem;
    }

    form {
        padding: 2vh 0;
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }

        .btn:hover {
            color: white;
        }

    a {
        color: black;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
    }
</style>

<script>
    $(document).ready(function(){
        $('input[type=checkbox]').prop('checked', false);


        var sum = 0;
        var formattedValue = sum.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
        console.log('1')
        $("#total_price").text(formattedValue);
        $(".selectedItems").click(function () {
            var input = $(this);
            var value = input.data('value');
            if (input.is(":checked")) {
                sum += parseFloat(value);
            }else{
                sum -= parseFloat(value);
            }
            var formattedValue = sum.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
            console.log('sum', sum);
            $("#total_price").text(formattedValue);
            if(sum==0){
                alter("Vui lòng click add vào thanh toán");
            }
        });

    });
</script>