@model Orderdetail
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
@{
    var listItem = ViewData["listItem"] as List<Order>;
    decimal sum = 0;
    var listDetail = ViewData["listDetail"] as List<Orderdetail>;
}
<style>
    .wrapper {
        margin-top: 5vh;
    }

    .dataTables_filter {
        float: right;
    }

    .table-hover > tbody > tr:hover {
        background-color: #ccffff;
    }

    thead {
        background: #ddd;
    }

    .table td:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .highlight {
        background: #ffff99;
    }

    .back-to-shop {
        margin-top: 4.5rem;
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }
</style>

<div>
    <div>
        @{
            var message = ViewData["message_none"];
        }

        <p style="color:red">@message</p>
        @if (message == null)
        {
            <div class="back-to-shop">
                <a asp-controller="Home" asp-action="Index">&leftarrow;</a><span class="text-muted">Trở về trang chủ</span>
            </div>
            //<input type="search" id="searchInput" class="form-control" placeholder="Tìm kiếm theo mã đơn hàng">
            <table id="example" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Địa chỉ</th>
                        <th>Sđt</th>
                        <th>Ngày đặt hàng</th>
                        <th>Ngày nhận</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Chị tiết</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in listItem)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>@item.ShipAddress</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.OrderDate</td>
                            <td>@item.ShipDate</td>
                            @if (@item.Status == 3)
                            {
                                <td>Đã nhận hàng</td>
                            }
                            else if (item.Status == 5)
                            {
                                <td>Đã hủy đơn</td>
                            }
                            else if (item.Status == 4)
                            {
                                <td>Không nhận hàng</td>
                            }
                            <td>
                                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" data-bs-toggle="model" data-bs-target="#exampleModal" onclick="showOrderDetails('@item.OrderId')"><i class="fa fa-edit"></i> </button>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>


</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="orderDetailsContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<style>
    .table-wrapper {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        overflow: auto;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 20px; /* Khoảng cách giữa bảng và phân trang */
        display: flex;
        justify-content: center; /* Canh giữa phân trang */
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border: 1px solid #ddd; /* Viền */
            border-radius: 5px; /* Bo góc */
            padding: 5px 10px; /* Khoảng cách nội dung và viền */
            margin: 0 2px; /* Khoảng cách giữa các nút */
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background-color: #f8f9fa; /* Màu nền khi hover hoặc nút hiện tại */
                color: #333; /* Màu chữ khi hover hoặc nút hiện tại */
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
                display: none; /* Ẩn nút khi bị vô hiệu hóa */
            }
</style>
<script>

    function showOrderDetails(orderId) {
        $.ajax({
            type: 'GET',
            url: '/OrderHistory/GetOrderDetail',
            data: { orderId: orderId },
            success: function (data) {
                var orderDetailsHtml = '<p>Thông tin chi tiết đơn hàng: ' + orderId + '</p>';
                var totalPrice = 0;

                if (data && data.length > 0) {
                    orderDetailsHtml += '<table class="table no-wrap user-table mb-0">' +
                        '<thead>' +
                        '<tr>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium pl-4">Ảnh</th>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium">Tên sản phẩm</th>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium">Kích thước</th>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium">Màu sắc</th>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium">Số lượng</th>' +
                        '<th scope="col" class="border-0 text-uppercase font-medium">Giá tiền</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>';

                    // Loop through the data and append rows to the table
                    data.forEach(function (item) {
                        orderDetailsHtml += '<tr>' +
                            '<td class="pl-4"><img src="/Images/' + item.detail.product.productImages[0].path + '" alt="product-image" class="rounded-circle" width="50"></td>' +
                            '<td>' + item.detail.product.productName + '</td>' +
                            '<td>' + item.detail.size.sizeName + '</td>' +
                            '<td>' + item.detail.color.colorName + '</td>' +
                            '<td>' + item.quantity + '</td>' +
                            '<td>' + parseFloat(item.detail.product.price).toLocaleString('vi-VN', { style: 'currency', currency: 'vnd' }) + '</td>' +
                            '</tr>';

                        totalPrice += parseFloat(item.detail.product.price) * item.quantity;
                    });

                    orderDetailsHtml += '<tr>' +
                        '<td colspan="5"></td>' +
                        '<td class="text-right font-medium">Tổng tiền: ' + totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'vnd' }) + '</td>' +
                        '</tr>';

                    // Thêm các trường thông tin khách hàng và đơn hàng
                    var statusText = '';
                    switch (data[0].order.status) {
                        case 3:
                            statusText = 'Đã nhận';
                            break;
                        case 4:
                            statusText = 'Không nhận hàng';
                            break;
                        case 5:
                            statusText = 'Đã hủy đơn';
                            break;
                        default:
                            statusText = 'Không xác định';
                            break;
                    }

                    orderDetailsHtml += '<tr><td colspan="6"></td></tr>' +
                        '<tr><td colspan="6">Tên người nhận: ' + data[0].order.customerName + '</td></tr>' +
                        '<tr><td colspan="6">Địa chỉ: ' + data[0].order.shipAddress + '</td></tr>' +
                        '<tr><td colspan="6">Số điện thoại: ' + data[0].order.phoneNumber + '</td></tr>' +
                        '<tr><td colspan="6">Trạng thái đơn hàng: ' + statusText + '</td></tr>';


                    orderDetailsHtml += '</tbody></table>';
                } else {
                    orderDetailsHtml += '<p>Không có đơn hàng nào.</p>';
                }

                $('#orderDetailsContainer').html(orderDetailsHtml);
                $('#exampleModal').modal('show');
            },
            error: function (xhr, status, error) {
                alert('Lỗi khi lấy thông tin đơn hàng: ' + error);
            }
        });
    }

    $(document).ready(function () {
        var table = $('#example').DataTable({
            "language": {
                "paginate": {
                    "first": '<i class="fas fa-angle-double-left"></i> Trang đầu',
                    "last": 'Trang cuối <i class="fas fa-angle-double-right"></i>',
                    "next": '<i class="fas fa-angle-right"></i>',
                    "previous": '<i class="fas fa-angle-left"></i>'
                },
                "search": ' Tìm kiếm:',
                "info": "",
                "infoEmpty": "Tổng đơn: 0",
                "infoFiltered": "(được lọc từ tổng số _MAX_ mục)",
                "lengthMenu": "Hiển thị _MENU_ mục",
                "zeroRecords": "Không tìm thấy dữ liệu phù hợp"
            },
            "columnDefs": [{
                "orderable": false,
                "className": 'select-checkbox select-checkbox-all',
                "targets": 0
            }],
            "select": {
                "style": 'multi',
                "selector": 'td:first-child'
            }
        });

        // Tìm kiếm theo mã đơn hàng
        $('#searchInput').on('keyup', function () {
            table.column(0).search(this.value).draw();
        });

        // Update table navigation text
        $('#example_paginate').addClass('pagination'); // Thêm class pagination cho phân trang
        $('#example_paginate .paginate_button').addClass('page-item'); // Thêm class page-item cho các nút phân trang
        $('#example_paginate .paginate_button').children().addClass('page-link'); // Thêm class page-link cho các liên kết trong nút phân trang

        // Thêm nút "Trang đầu" và "Trang cuối"
        $('#example_paginate .previous').html('<span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>');
        $('#example_paginate .next').html('<span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>');

        // Chuyển nút "Trước" và "Tiếp theo" vào vị trí đúng
        $('#example_paginate .previous').appendTo($('#example_paginate .pagination'));
        $('#example_paginate .next').appendTo($('#example_paginate .pagination'));
    });





</script>

