@model IEnumerable<SWP.Models.User>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="">
    <div class="container">

        <!-- sidebar -->
        <div class="col-lg-3">
            <!-- Collapsible wrapper -->

        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          

            <!-- Search form -->
            <form method="post" asp-controller="Users" asp-action="Index" class="mb-4">
                <div class="input-group">
                    <form class="form-inline">
                        <label class="form-check-inline">Status</label>
                        <div class="form-group mr-2">
                            <select id="status" name="status" class="form-select">
                                <option value="" >Tất cả</option>
                                <option value="1" selected="@(ViewBag.Status == 1)">Active</option>
                                <option value="0" selected="@(ViewBag.Status == 0)">Deactive</option>
                            </select>
                        </div>
                        <div class="form-group flex-grow-1">
                            <input type="text" name="search" class="form-control" placeholder="tìm kiếm " value="@ViewBag.strSearch">
                        </div>
                        <button type="submit" class="btn btn-primary ml-2">Tìm kiếm</button>
                    </form>
                </div>
            </form>
            
            <div class="row">
                
                
                @if (Model != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Image</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Create Date</th>
                                <th>Status</th>
                               @* <th>Actions</th>*@
                            </tr>
                        </thead>
                       
                        <tbody>
                            @{
                                int startIndex = (int)ViewData["startIndex"];
                               
                            }
                            
                            @foreach (var item in Model)
                            {
                                <tr>
                                    
                                    <td>@startIndex</td>
                                    <td><img src="/uploads/@item.Image" style="width: 150px" class="card-img-top" /></td>
                                    <td><a asp-controller="Users" asp-action="Details" asp-route-userId="@item.UserId">@item.FirstName</a></td>
                                    <td><a asp-controller="Users" asp-action="Details" asp-route-userId="@item.UserId">@item.LastName</a></td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.CreatedDate</td>
                                    @if(item.Status == 1)
                                    {
                                        <td>Active</td>
                                    }
                                    @if(item.Status != 1)
                                    {
                                        <td> DeActive</td>
                                    }
                                    @* <td>
                                        <a asp-controller="Users" asp-action="Edit" asp-route-userId="@item.UserId" class="btn btn-primary shadow-0 me-1">Edit</a>
                                    </td>*@
                                    @*<td>
                                       <button  class="btn btn-danger shadow-0 me-1" onclick="delete(@item.UserId)">Delete</button>
                                        <a asp-controller="Users" asp-action="Delete" asp-route-userId="@item.UserId" class="btn btn-danger shadow-0 me-1" onclick="return confirmDelete()">Delete</a>
                                    </td>*@
                                </tr>
                                startIndex++;
                            }
                        </tbody>
                    </table>
                }


                <hr />

                <!-- Pagination -->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                    <ul class="pagination">
                        @if (ViewBag.currentPage != 0)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Users" asp-action="Index" asp-route-currentPage="@(ViewBag.currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= ViewBag.NumberOfPages; i++)
                        {
                            <li class="page-item "><a class="page-link" asp-controller="Users" asp-action="Index" asp-route-currentPage="@i">@i</a></li>

                        }
                        @if (ViewBag.currentPage < ViewBag.NumberOfPages )
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Users" asp-action="Index" asp-route-currentPage="@(ViewBag.currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>
                <!-- Pagination -->
            </div>
        </div>
       <script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete this user?")) {
      // Thực hiện hành động xóa ở đây
      return true;
    } else {
      return false;
    }
  }
</script>
    </div>

</section>
